:root {
  --color1: #FF0055;
  --color2: #000066;
  /* --color1: #ECFCFF;
  --color2: #B2FCFF;
  --color3: #5EDFFF;
  --color4: #3E64FF; */
  /* --color5: #6100FF;
  --color6: #00FF57;
  --color7: #FFF500; */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

/* === NAVBAR === */
.navbar {
    padding-top: 1rem;
    padding-bottom: 1rem;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 0.8rem;
    letter-spacing: 5px;
}
.navbar-nav  li a:hover {
    color: #1abc9c !important;
}
/* === END NAV === */

/* === FOOTER === */
.footer-padding {
	padding-bottom: 60px;
}

.footer {
	position: absolute;
	text-align: center;
	bottom: 0;
	width: 100%;
	height: 60px;
	background-color: #1abc9c;
}

.footer p {
	margin-top: 25px;
	font-size: 12px;
  color: #fff;
}
/* === END FOOTER === */

body {
  font-family: "Montserrat", sans-serif;
  text-align: center;
  overflow: hidden;
}

section {
  height: 100vh;
  width: 100vw;
}
.bg-gradient-0 {
  background-image: linear-gradient(to top left, #753682 0%, #bf2e34 100%);
  /* background: linear-gradient(180deg, var(--color1) 0%, var(--color2) 100%); */
}

.bg-gradient-1 {
  background:
  linear-gradient(
    125deg, var(--color1) 0%, var(--color1) 40%, var(--color2) calc(40% + 1px),
    var(--color2) 60%, var(--color3) calc(60% + 1px),
    var(--color3) 72%, var(--color4) calc(72% + 1px),
    var(--color4) 100%
    );
}

.bg-gradient-2 {
  background:
  linear-gradient(140.54deg, #608D00 0%, #D30000 72.37%),
  linear-gradient(360deg, #0029FF 0%, #8FFF00 100%),
  radial-gradient(
    100% 164.72% at 100% 100%,
    #6100FF 0%, #00FF57 100%),
  radial-gradient(
    100% 148.07% at 0% 0%,
    #FFF500 0%, #51D500 100%);
  background-blend-mode: color-dodge, overlay, difference, normal;
  background-repeat: no-repeat;
}

/* Headings */

h1 {
  font-weight: 800;
  font-size: 3.5rem;
  line-height: 1.5;
}

h2 {
  font-weight: 800;
  font-size: 3rem;
  line-height: 1.5;
}

h3 {
  font-weight: 800;
  font-size: 1.5rem;
}

p {
  /* color: #8F8F8F; */
  color: #FFFFFF;
}

/* Containers */
.container-fluid {
  padding: 7% 15%;
  margin-left: 100vw;
  margin-right: 100vw;

  margin: 0 0 0;
  /* width: 100vw; */
}
/* .container-fluid {
    padding-top: 70px;
    padding-bottom: 70px;
} */

/* Sections */
.colored-section {
  background-color: #FF4C68;
  color: #FFFFFF;
}

.white-section {
  background-color: #FFFFFF;
}

/* navagation bar */
/* .navbar {
  padding: 0 0 1.5rem;
}

.navbar-brand {
  font-family: "Ubuntu", sans-serif;
  font-size: 1.5rem;
  font-weight: bold;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-family: "Montserrat", sans-serif;
  font-weight: lighter;
  font-size: 1.2rem;
} */

/* submit buttons */

.btn {
  margin: 3% 1% 3% 0;
  /* padding: 5px 5px 5px; */
}

/* Title Section */
#title {
  /* background-image: url(assets/background.jpg); */
  color: #FFFFFF;
}

#title .container-fluid {
  padding: 3% 15% 7%;
  text-align: center;
}
